{#
/**
 * @file
 * Markup for the Workbench Tabs.
 *
 * Available variables:
 * - messages: Status messages
 * - tabs: Local task tabs
 *
 * @see workbench_tabs_page_top()
 * @see template_preprocess_workbench_tabs()
 *
 * @ingroup themeable
 */
#}

<div class="workbench-tabs">
  <div>{{ messages }}</div>
  <nav>{{ tabs }}</nav>
</div>
